@font-face {
  font-family: Geeza;
  src: url('../fonts/Geeza_Pro.tff');
}

@font-face {
  font-family: Helvetica;
  src: url('../fonts/helvetica_neue/HelveticaNeue.tff');
}

body,h1, h2, h3, h4, h5, h6, p,span,a{
  font-family: Helvetica;
}
.arabic_font{
    font-family: Geeza;
}
/*
  disbale resizeablity for all textareas
*/
textarea {
  resize: none;
}
/*end*/
.margin-bottom{
    margin-bottom: 10px;
}
.gmap-control-container {
    margin: 5px;
}
.p-b-0 {
  padding-bottom: 0 !important;
}
.m-0 {
  margin: 0;
}
.m-20 {
    margin: 20px;
}

.m-r-2 {
  margin-right: 2px;
}
.w-100 {
  width: 100%;
}
.f-s-20 {
  font-size: 20px;
}
.request-red-color {
  color: #f35958;
}
.page-sidebar.mini .bottom_up ul.sub-menu {
  margin-top: 0;
  bottom: 0;
  top: auto;
}
.gmap-control {
    cursor: pointer;
    background-color: -moz-linear-gradient(center top , #FEFEFE, #F3F3F3);
    background-color: #FEFEFE;
    border: 1px solid #A9BBDF;
    border-radius: 2px;
    padding: 4px 8px;
    line-height: 160%;
    font-size: 12px;
    font-family: Arial,sans-serif;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.gmap-control:hover {
    border: 1px solid #678AC7;
}
.gmap-control-active {
    background-color: -moz-linear-gradient(center top , #6D8ACC, #7B98D9);
    background-color: #6D8ACC;
    color: #fff;
    font-weight: bold;
    border: 1px solid #678AC7;
}
.gmap-control-legend {
    position: absolute;
    text-align: left;
    z-index: -1;
    top: 28px;
    right: 0;
    width: 150px;
    height: auto;
    font-size: 10px;
    background: #FEFEFE;
    border: 1px solid #A9BBDF;
    padding: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
}
.gmap-control-legend ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.gmap-control-legend li {
    line-height: 160%;
}
#mapModal .modal-dialog {
    width: 80%;
}
.map-control-btns .btn {
    background-color: #60768d;
}
.map-control-btns .btn.active {
    background-color: #1f3853;
}
.control .map-check{
    padding: 10px;
}
.control .map-check label{
    font-size: 16px; font-weight: 500;
}
.control .map-check input{
    margin-right: 5px;
}
fieldset {
    border: 1px solid #e5e5e5;
}
.switch-control .link{
    color: #505458;
    margin: 10px;
    font-weight: 300;
    font-size: 24px; 
    line-height: 30px;
}
.switch-control .link.active{
    border-bottom: 4px solid #0aa699; 
}
.switch-control .link:hover{
    border-bottom: 4px solid #0aa699; 
}
.list-link{
    text-decoration: underline;
}
.gmap-search-control {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#gmap-search-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#gmap-search-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
.select2-container--default .select2-selection--multiple,.select2-container--default .select2-selection--single {
  border: 1px solid #e5e9ec !important;
  border-radius: 2px; 
}
.select2-container--default .select2-selection--single{
  height: 16px;
  line-height: 15px;
  min-height: 37px;
  outline: 0 none;
  padding: 6px 11px !important;
}
.select2-search.select2-search--inline input{
  width: -moz-fit-content !important;
}

/* Style for listing actions menu */
.quick-section form button,.quick-section form{
    width: -moz-available;
}
.quick-section form {
  display: block;
  width: 96%;
}
.quick-section form button{
    border-radius: 3px;
    color: #2a2e36;
    line-height: 25px;
    margin: 0 4px;
    text-align: left;
    padding: 3px 20px;
    border: none;
    background: none;
    font-size: 13px;
    display: block;
    width: 100%;
}
.quick-section form button:hover{
    color: #1b1e24;
    text-decoration: none;
    background-color: #eff2f3;
    background-image: none;
}
.quick-section .actions #gear-icon{
    padding: 2px !important;
    font-size: 21px;
}
.quick-section .actions #gear-icon:hover,.quick-section .actions #gear-icon:focus,.quick-section .actions #gear-icon:active{
    background: none !important;
}
.at-top {
  top: auto !important;
  bottom: 30px !important;
}
/*.custom-listing-menu:after{
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    right: 25%;
    top: -6px;
}*/
.custom-listing-menu{
  padding-bottom: 3px;
}
.custom-listing-menu.left{
  left: auto !important;
  right: 0 !important;
}
.listing-icon {
  /*width: 50px;
  height: 50px;*/
  width: auto;
  max-width: 150px;
  height: auto;
  max-height: 100px;
}
/*.custom-listing-menu.pointer-left:after{
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    left: 6%;
    right: auto;
    top: -6px;
}*/
.country-flag {
  width: 40px;
  height: 30px;
}

.cover-btn {
  background:none!important;
   border:none; 
   padding:0!important;
   font: inherit;
   /*border is optional*/
   font-size: 30px;
   cursor: pointer;
}  
.page-sidebar {
  padding-bottom: 100px;
}

.actions-container {
  height: 35px;
}


.wizard-wraper .form-actions {
  margin-bottom: 0;
}
.location_time_box{
    border: 1px solid #e5e9ec;
    /*margin-left: 15px;*/
    margin-bottom: 8px;
}
/*
  Change select2 direction rtl
*/
.select2-rtl .select2{
  direction: rtl;
}
.select2-rtl .select2-selection__arrow{
  /*right: 90% !important;*/
  /*left: 1 !important;*/
}


button.close{
  outline: none; 
}


/* Family tree related styles */
.kadi-node {
  font-size: 17px;
}
.nodeid-text {
  text-decoration: underline;
  cursor: pointer;
}
.male-color {
  color: #00b3ee;
}
.female-color {
  color: palevioletred;
}
.active-color {
  color: #19937F;
}
.name-bold {
  font-weight: lighter;
  color: #282323;
}
.node-image-round-box {
  height: 60px;width: 60px;display: block; border: 1px solid #00b3ee; border-radius: 50px
}
.node-image-round-box.male{
  border-color: #00b3ee;
}
.node-image-round-box.female{
  border-color: palevioletred;
}
/* Daleel detail*/
.daleel-detail-icon-container {
  text-align: center;
}
.daleel-detail-icon-container .icon-round {
  /*width: 70px;*/
  /*height: 55px;*/
  /*border-radius: 50px;*/
  /*padding: 10px;*/
  margin-bottom: 5px;
}
.daleel-detail-icon-container .icon-round img {
  display: block;
  height: 60px;
  max-width: 100%;
}
.icon-round.border {
  border: 1px solid #8B572A;
}
/*.icon-round.active {
  background-color: #646464;
  border: 1px solid #fff;
  border-color: green;
}*/
.daleel-detail-icon-container .border-right {
  border-right: 1px solid #979797;
}

.daleel_profile_box {
  border: 1px solid #979797;
  padding: 20px 10px;
}

.daleel-profile-picture-square {
  border: 2px solid #00b3ee;
  width: 160px;
  height: 200px;
  overflow: hidden;
  margin-left: 15px;
  /*display: flex;*/
  /*justify-content: center;*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
    
}
.daleel-profile-picture-square.no-border{
  border: none;
}
.daleel-profile-picture-square.male{
  border-color: #00b3ee;
}
.daleel-profile-picture-square.female{
  border-color: palevioletred;
}
.daleel-profile-picture-round {
  border: 2px solid #979797;
  border-radius: 50%;
  width: 165px;
  height: 165px;
  overflow: hidden;
  margin-top: 20px;
  margin-left: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /*display: flex;*/
  /*justify-content: center;*/
}
.daleel-profile-picture-round.no-border {
  border: none;
}
.daleel-profile-picture-round.male{
  border-color: #00b3ee;
}
.daleel-profile-picture-round.female{
  border-color: palevioletred;
}
.daleel-profile-picture-round img,.daleel-profile-picture-square img {
  /*flex: none;*/
}
.daleel-tree-info {
  display: inline-block;
  font-size: 20px;
}
.daleel-tree-icon {
  display: inline-flex;
}
.info-modal {
  padding: 90px; background: #fff;
}

.daleel-user-status-bar {
    color: #fff;
    height: 50px;
    padding: 7px;
    text-align: center;
}
.daleel-user-status-bar h4{
  display: inline-block;
  color: #fff;
  margin: 7px 0;
}
.daleel-user-status-bar .status-bar-btn {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  padding: 7px 18px 9px;
  font-family: "Open Sans";
}
.daleel-user-status-bar .status-bar-btn:focus {
  /*color: */
}
.daleel-user-status-bar.disabled {
  background-color: #D0011B;
}
.daleel-user-status-bar.locked {
  background-color: #DE8D1D;
}
.disabled-link {
  pointer-events: none;
  opacity: 0.5;
}

.daleel-listing-node .daleel-listing-node-name {
  font-size: 16px;
}
.daleel-listing-node .nodeid-text {
  font-size: 16px;
}
.daleel-listing-node .listing-icons img {
  height: 25px;
}
/* Daleel permistions*/
.daleel-public{
  background-color: #59BEAC !important;
}
.daleel-public-text{
  color: #FFF !important;
}
.daleel-hidden{
  background-color: #D0011B !important;
}
.daleel-hidden-text{
  color: #FFF !important;
}
.daleel-family{
  background-color: #186FD6 !important;
}
.daleel-family-text{
  color: #FFF !important;
}
.permissions_select{
  width: 100px;
}
/*Profile POPUP*/
#daleelProfilePopup .modal-body{
  background-color: #fff;
}
#daleelProfilePopup p{
  font-size: 16px;
}
.daleel-profile-popup{
  width: 125px;
  height: 125px;
  margin: 0;
}

.daleel-inline-filter{
    width: 13%; display: inline-block;margin-right: 7px;
}
.daleel-inline-filter .select2 {
  display: block;
  /*bottom: 2px;*/
}
/* END family tree styles*/
.overflow-auto {
  overflow: auto;
}

.btn-link:focus {
 outline: none;
}

.quick-section form button, .custom-listing-menu > li >a{
    border-radius: 3px;
    color: #2a2e36;
    line-height: 25px;
    margin: 0 4px;
    text-align: left;
    padding: 3px 20px;
    border: none;
    background: none;
    font-size: 13px;
    display: block;
    width: 100%;
}

.select2-container {
  width: 100% !important;
}



body {
  overflow-y: scroll !important;
}

.group-checkable{
  margin-left: 3px !important;
}

.table > tbody > tr > td{
        white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
        white-space: -webkit-pre-wrap; /*Chrome & Safari */ 
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        white-space: pre-wrap;       /* css-3 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
        word-break: break-all;
        white-space: normal;
    }

.export-btn
{
  margin-left: 10px;
}

.existed_image{
  max-width: 198px;max-height: 150px;width: auto;height: auto;position: absolute;top: 0;bottom: 0;left: 0;right: 0; margin: auto;padding: 4px 4px;
}

.image_parent_div{
  width:200px;height:150px;vertical-align: top; position: relative;
}

.image_thumbnail_size{
  width: 200px; height: 150px;
}

.daterangepicker .input-mini.active{
  padding: 0px 0px 5px 30px !important;
}

.daterangepicker .input-mini{
  padding: 0px 0px 5px 30px !important;
}

.daterangepicker.ltr .calendar.right{
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.chat-toggler{
	margin-left: 20px;
}

.profile-pic-dropdown > li > a:hover{
	width: 95%;
}

#datatable-example_length > label > select, #datatable-example2_length > label > select{
    width: auto;
}

ul.messenger.messenger-fixed.messenger-on-top{
  top: 110px;
}

/*li.classic.open{
  border-top: 1px solid rgb(133,133,133);
  margin-top: 5px;
  border-left: 1px solid rgb(133,133,133);
  border-right: 1px solid rgb(133,133,133);
}

li.classic.open > ul.classic{
  left: -1px !important;
  top: 46px !important;
  border-bottom: 1px solid rgb(133,133,133);
  border-left: 1px solid rgb(133,133,133);
  border-right: 1px solid rgb(133,133,133);
}

.menu-titles{
  font-weight: bold;
}*/

li.classic.open > ul.classic{
  top: 60px !important;
}

ul.classic{
  transition: unset !important;
}

.myClassic > li{
  padding: 0 !important;text-align: left;
}

.myClassic > li:not(:last-child){
  padding-bottom: 15px !important;
}

.bar{
  margin-bottom: 10px;overflow: visible;margin-top: 61px;
}

.menu-image > img{
  width: 40px;
  height: 40px;
}

.horizontal-menu .bar-inner > ul > li.open > .classic{
  box-shadow: 0 1px 3px rgba(0,0,0,0.01), 0 1px 2px rgba(0,0,0,0.24);
}

.panel-default > .panel-heading{
  background-color: rgb(207,207,207);
  border: 1px solid rgb(158,158,158);
  border-radius: 0 !important;
}

.panel-body{
  border-bottom: 1px solid rgb(158,158,158) !important;
  border-right: 1px solid rgb(158,158,158) !important;
  border-left: 1px solid rgb(158,158,158) !important;
}

.panel-collapse{
  transition: unset;
}

.heading_arabic{
  margin-left: 20px;
}

.sub-section{
  border-top: 0 !important;
}

#is_another_dt{
  margin-right: 10px !important;
}

.help-block{
  float: right;
}

.pac-container { z-index: 100000 !important; }

#pac-input{
  width: 300px;
  margin-top: 6px;
}

#location_map{
  border: 1px solid rgb(158,158,158);
  height: 400px !important;
}

.selling_on_icon{
  color: rgb(108,209,0) !important;
}

.selling_of_icon{
  color: rgb(146,146,146) !important;
}

.event_listing_info span.right-space{
  margin-right: 10px;
}

.tier_tiles{
  width: 160px;
  height: 40px;
  border: 1px solid rgb(146,146,146);
}

.tile-title{
  line-height: 38px;
}

.tile-stats{
  font-size: 10px;
}

.tile-margin-right{
  margin-left: 5px;
}

.tile-stats-div{
  padding-bottom: 2px;
}

.tile-border-left{
  border-left: 1px solid rgb(146,146,146);
}

.tile_line_break{
  height:0px; 
  visibility:hidden; 
  margin:-8px 0 -2px 0;
}

.info-titles{
  margin-bottom: 9px;
}

.info-basic{
  margin-bottom: 5px;
}
.legends{
  margin-right: 15px !important; font-size: 18px !important;
}

.legend_icon{
  float: unset !important;
  font-size: 18px !important;
  margin-left: 18px !important;
  display: contents !important;
}

.legend_text{
  margin-left: 15px !important;
}

.nav-navbar-center {
  text-align: center;
  margin-top: -36px;
}
.nav-navbar-center ul.nav {
  display: inline-block;
}
.nav-navbar-center ul.nav li {
  display: inline a;
  display-float: left;
}

.nav-navbar-center .nav-pills > li.active > a, .nav-navbar-center .nav-pills > li.active > a:hover, .nav-navbar-center .nav-pills > li.active > a:focus{
  background-color: unset;
  color: rgb(63,66,69);
  font-weight: bold;
  font-size: 18px !important;
}

.nav-navbar-center .nav-tabs > li > a, .nav-navbar-center .nav-pills > li > a{
  font-size: 18px !important;
  color: rgb(128,128,128);
}

table.dataTable thead th, table.dataTable thead td{
  padding: 10px !important;
}